/* --
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-- */
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
#calling_status{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #33322e;
    color: #fff;
}
#datetime{
	width: 100%;
    border-radius: 20px;
    padding: 10px;
}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: url(../images/bann.jpg)no-repeat 0px 0px;
    /* background: #b52e31; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
.top-img-agileits-w3layouts {
    background: url(../images/bann.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    border-radius: 18px;
    padding: 1px 8px;
}
/**** LOGIN_SIGNUP ******/
/* signup Form styles */
h2.sub-head-w3-agileits {
    text-align: left;
    font-size:30px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #fff;
    padding-bottom: 0px;
    font-weight: 400;
    text-align: center;
}
.top-img-agileits-w3layouts p {
    color: #fffcfc;
    letter-spacing: 1px;
    text-align: left;
    font-size: 13px;
    /* line-height: 40px; */
    padding-top: 2px;
    text-align: center;
}
.login-form {
    padding: 2em;
}
.login-w3l {
    width: 85%;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    border-radius: 18px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
}
.login-form input[type="text"], .login-form textarea, .login-form input[type="email"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
	border-radius: 18px;
    outline: none;
    color: #fff;
	    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 9px;
    background: rgba(45, 45, 45);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 45px;
    letter-spacing: 5px;
    color: #fff;
    margin: 2em 0 1.5em;
}
.login-form textarea{
	resize:none;
	height:100px;
}
.login-form input[type="submit"] {
    background: #b32eb5;
    color: #fff;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #b32eb5;
    width: 100%;
	    box-sizing: border-box;
	border-radius: 24px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 0;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
}
.login-form input[type="submit"]:hover {
	    background:transparent;
}
.book-form input[type="text"],.book-form input[type="email"],.book-form input[type="password"]{
	width: 100%;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #7d7d7d;
    outline: none;
	    box-sizing: border-box;
    font-size: 14px;
	letter-spacing: 1px;
    margin-bottom: 20px;
	background:transparent;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
	color:#000!important;
}
.footer-agileits p {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin: 3.5em 0;
    letter-spacing: 1.5px;
    display: block;
}
.footer-agileits p a:hover {
    color: #b52e31;
	text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.footer-agileits p a {
    text-decoration: underline;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
/*-- //login --*/
::-webkit-input-placeholder{
	color:#adb2bd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adb2bd; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adb2bd;  
}

:-ms-input-placeholder {  
   color: #adb2bd;  
}
/*--responsive--*/
@media(max-width:1440px){
}
@media(max-width:1366px){
	h1 {
		font-size: 32px;
		margin: 1.5em 0 1em;
	}
	h2.sub-head-w3-agileits {
		font-size: 22px;
	}
	.top-img-agileits-w3layouts p {
		font-size: 12px;
	}
	.login-form input[type="submit"] {
		font-size: 16px;
		padding: 5px 0;
		margin-top: 10px;
	}
	.footer-agileits p {
		font-size: 13px;
		margin: 3em 0;
	}
}
@media(max-width:1080px){
	h1 {
		letter-spacing: 6px;
	}
.login-w3l {
    width: 50%;
	}
}
@media(max-width:1050px){
}
@media(max-width:1024px){
	h1 {
		font-size: 30px;
		margin: 1.2em 0 1em;
	}
	.top-img-agileits-w3layouts {
		padding: 25px 25px;
	}
	.footer-agileits p {
		margin: 3em 0;
	}
	h2.sub-head-w3-agileits {
		font-size: 20px;
	}
}
@media(max-width:991px){
}
@media(max-width:900px){
	h1 {
		font-size: 28px;
		margin: 1.4em 0 1.1em;
	}
	.footer-agileits p {
		font-size: 12px;
	}
}
@media(max-width:800px){
	.login-form {
		padding: 1.6em 0;
	}
	.login-form input[type="text"], .login-form textarea, .login-form input[type="email"] {
		font-size: 12px;
		margin-bottom: 12px;
	}
	.login-w3l {
		width: 60%;
	}
	.login-form input[type="submit"] {
		font-size: 15px;
		padding: 10px 0;
		margin-top: 8px;
	}
	.top-img-agileits-w3layouts p {
		line-height: 22px;
		padding-top: 9px;
	}
}
@media(max-width:768px){
	h1 {
		margin: 3.4em 0 2.1em;
	}
	.footer-agileits p {
		margin: 5em 0;
	}
}
@media(max-width:767px){
	h1 {
		margin: 1.4em 0 1.1em;
	}
	.footer-agileits p {
		margin: 3em 0;
	}
}
@media(max-width:736px){
	h1 {
		font-size: 25px;
	}
	h2.sub-head-w3-agileits {
		font-size: 18px;
		padding-bottom: 8px;
	}
}
@media(max-width:667px){
}
@media(max-width:640px){
	.top-img-agileits-w3layouts {
		padding: 20px 25px;
	}
	.login-form input[type="submit"] {
		font-size: 14px;
		padding: 8px 0;
	}
	h1 {
		margin: 1.3em 0 1em;
	}
	.footer-agileits p {
		margin: 2.3em 0;
	}
}
@media(max-width:600px){
	.footer-agileits p {
		margin: 1.8em 2.5em;
		line-height: 28px;
	}
}
@media(max-width:568px){
	.login-w3l {
		width: 65%;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 23px;
		letter-spacing: 5px;
	}
	h2.sub-head-w3-agileits {
		font-size: 17px;
	}
	.login-w3l {
		width: 80%;
	}
}
@media(max-width:414px){
	h1 {
		letter-spacing: 4px;
		margin: 2.3em 0 1.5em;
	}
	.footer-agileits p {
		margin: 3.5em 2.5em;
	}
}
@media(max-width:384px){
	h1 {
		letter-spacing: 3px;
		font-size: 22px;
		margin: 1.5em 0 1em;
	}
	.login-w3l {
		width: 82%;
	}
	.footer-agileits p {
		margin: 1.8em 2em 0em;
	}
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	h1 {
		letter-spacing: 2.5px;
		font-size: 22px;
	}
	.login-w3l {
		width: 93%;
	}
	.footer-agileits p {
    margin: 1.8em 0.5em 1.8em;
}
	.login-form input[type="submit"] {
		margin-top: 4px;
	}
}
/*--responsive--*/